<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.467136157912-l7fajbka4ebcf0v6ga40vo33b681fqmv</string>
			</array>
		</dict>
	</array>
	<key>FORMA_AI_BACKEND_URL</key>
	<string>$(FORMA_AI_BACKEND_URL)</string>
	<key>FORMA_INTERNAL_BUILD</key>
	<string>$(FORMA_INTERNAL_BUILD)</string>
	<!-- Debug sets CONTEXTLOOP_ENV=debug; Inject CONTEXTLOOP_GIT_SHA also stamps the built Info.plist. -->
	<key>CONTEXTLOOP_ENV</key>
	<string>$(CONTEXTLOOP_ENV)</string>
</dict>
</plist>
